<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規ユーザー作成ページ</title>
</head>
<body>
			<!-- textareaタグのth:action属性でデータの送信先を指定-->
			<!-- textareaタグのform属性で、指定したidを持つformタグに紐づける-->
			<!-- th:object属性はフォームの内容が全て入るオブジェクトを差す-->

			<!-- バリデーションにかかった際の入力を促すメッセージ表示 -->
			<div class="errMsgDiaryText"></div>
			<!-- textareaタグのform属性で、指定したidを持つformタグに紐づける-->
			<textarea form="createForm" id="userName" th:action="@{/saveCreatedUser}" th:object="${UserEntity}"
			  cols="10" rows="2" name="diaryText" class="form-control" placeholder="ユーザー名入力欄"></textarea>
			<!-- バリデーションにかかった際の入力を促すメッセージ表示 -->
			<div class="errMsgweightForGoal"></div>
			<!-- 0.01単位の数値のみ入力可（type="number" step="0.01"で指定） -->
			<input type="number" step="0.01" form="createForm" id="weightGoal" th:action="@{/saveCreatedUser}" th:object="${UserEntity}"
			 name="weightGoal" class="form-control" placeholder="目標体重を入力してください（半角数字のみ）"></input>

			<div class="mb-2">
			<!-- バリデーションにかかった際の入力を促すメッセージ表示 -->
			<div class="errMsgDiaryText"></div>
			<!-- textareaタグのform属性で、指定したidを持つformタグに紐づける-->
			<textarea form="createForm" id="password" th:action="@{/saveCreatedUser}" th:object="${UserEntity}"
			  cols="10" rows="2" name="diaryText" class="form-control" placeholder="パスワード入力欄"></textarea>
			</div>
			<form onsubmit="return validation();" id="createForm" th:action="@{/saveCreatedUser}" method="post" th:object="${UserEntity}">
			<div class="mb-2">
			<!-- バリデーションにかかった際の入力を促すメッセージ表示 -->
			<div class="errMsgDiaryText"></div>
			<!-- textareaタグのform属性で、指定したidを持つformタグに紐づける-->
			<textarea form="createForm" id="passwordCheck" th:action="@{/saveCreatedUser}" th:object="${UserEntity}"
			  cols="10" rows="2" name="diaryText" class="form-control" placeholder="パスワード（確認）入力欄"></textarea>
			</div>
			<!-- 参考：https://qiita.com/Emily-wata/items/cdd4baf2e50333ccea90-->
			<!-- formタグにidを付与し、buttonにformクラスを追加し、formタグのidと同じものをつけて紐付ける-->
			<input type="submit" id="createButton" form="createForm"
			  class="btn btn-secondary border border-dark" value="保存">
			</form>
<script>
/* バリデーションの処理
参考：https://tsuchippo.com/programming-js-validation
	https://tsuchippo.com/validation/index.html*/
function validation() {
	//作成ボタン（入力フォーム）の要素を取得
    const createButton = document.querySelector('#createButton');
    console.log(createButton);
    //作成ボタンの要素にクリックイベントを設定する
    createButton.addEventListener('click', (e) => {
        // 体重欄・日記欄の空欄チェック
        // 入力された文字列を取得
        const weightForGoal = document.querySelector('#weightForGoal').value;
        const diaryText = document.querySelector('#diaryText').value;
        // エラーメッセージを表示させる要素を取得
        const errMsgweightForGoal = document.querySelector('.errMsgweightForGoal');
        const errMsgDiaryText = document.querySelector('.errMsgDiaryText');
        // 体重欄が空欄の場合
        if(!weightForGoal){
        	// 入力が空の場合、デフォルトアクション（フォーム送信）をキャンセル
        	e.preventDefault();
            // クラスを追加(エラーメッセージを表示する)
            errMsgweightForGoal.classList.add('form-invalid');
            // エラーメッセージのテキスト
            errMsgweightForGoal.textContent = '体重欄が入力されていません';
            // クラスを追加(フォームの枠線を赤くする)
            errMsgweightForGoal.classList.add('input-invalid');
        }else{
            // エラーメッセージのテキストに空文字を代入
            errMsgweightForGoal.textContent ='';
            // クラスを削除
            errMsgweightForGoal.classList.remove('input-invalid');
        }
        // 日記欄が空欄の場合
        if(!diaryText){
        	// 入力が空の場合、デフォルトアクション（フォーム送信）をキャンセル
        	e.preventDefault();
            // クラスを追加(エラーメッセージを表示する)
            errMsgDiaryText.classList.add('form-invalid');
            // エラーメッセージのテキスト
            errMsgDiaryText.textContent = '日記欄が入力されていません';
            // クラスを追加(フォームの枠線を赤くする)
            errMsgDiaryText.classList.add('input-invalid');
        }else{
            // エラーメッセージのテキストに空文字を代入
            errMsgDiaryText.textContent ='';
            // クラスを削除
            errMsgDiaryText.classList.remove('input-invalid');
        }
    }, false);
}
/* バリデーションの処理を読み込みが完了したときに追加 */
window.addEventListener('DOMContentLoaded', validation(), false);
</script>
</body>
</html>